HF_TOKEN=hf_your_token_here
YOUTUBE_CHANNEL_URL=https://www.youtube.com/@papaplatte/videos
YOUTUBE_MAX_LINKS=100
YOUTUBE_FETCH_ALL=true
YOUTUBE_PROXY=
YOUTUBE_NO_PROXY=false
SPEAKER_PROFILE_VIDEOS=2
DIARIZATION_MODEL=pyannote/speaker-diarization-community-1
