# Python
__pycache__/
*.py[cod]
*.so
.Python
.venv/
venv/
env/

# Env files
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Runtime output
output/*
!output/training/
output/training/*
!output/training/papaplatte/
!output/training/papaplatte/*.wav
voice_db.json
youtube_links.txt
